[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "<2.0.0"

[packages]
ansible = "==2.6.6"
boto = "*"
"boto3" = "*"
ovirt-engine-sdk-python = "*"

[requires]
python_version = "3.6"
